.mt-1 {
  margin-top: 1.6rem;
}

.mt-2 {
  margin-top: 2.4rem;
}

.mb-1 {
  margin-bottom: 1.6rem;
}

.mb-2 {
  margin-bottom: 3.2rem;
}

.mb-md-2 {
  margin-bottom: 6.4rem;
}

.px-1 {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.px-md-1 {
  @media screen and (min-width: 769px) {
    padding-right: 6.4rem;
    padding-left: 6.4rem;
  }
}

.px-2 {
  padding-right: 3.55rem;
  padding-left: 3.55rem;
}

.px-md-2 {
  @media screen and (min-width: 769px) {
    padding-right: 6.4rem;
    padding-left: 6.4rem;
  }
}

.py-1 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.py-md-1 {
  @media screen and (min-width: 769px) {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
